{% extends 'layout.html' %}
{% block title %}About{% endblock %}
{% block body %}
<div class="container mt-5">
        <h1 class="text-center">About Lost and Found</h1>
        <div class="row">
            <div class="col-12 col-md-8 mx-auto">
                <p class="lead">Welcome to our Lost and Found system! This platform helps students and staff report and claim lost items on campus close to the ABU Engineering Masjid. Admins can manage items and claims securely.</p>
            </div>
        </div>
    </div>
{% endblock %}