{% extends "layout.html" %}
{% block title %}ABU Lost and Found{% endblock %}
{% block body %}
<body>
    <h1>ABU Engineering Mosque Lost and Found</h1>
    <form method="GET">
        <input type="text" name="search" placeholder="Search by name or category" autocomplete="off">
        <input type="submit" value="Search">
    </form>
    {% for item in items %}
        <p>
            <a href="{{ url_for('item_detail', id=item.id) }}">{{ item.name }}</a> - {{ item.category }} 
        </p>
        {% if item.image %}
            <img src="{{ url_for('static', filename='Uploads/' + item.image) }}" alt="{{ item.name }}" width="400", height="200">
        {% endif %}
    {% endfor %}
</body>
{% endblock %}